# This is an example configuration for running converse during
# development using direnv:
# https://github.com/direnv/direnv
#
# The OIDC actor is configured with bogus values as disabling logins
# never causes it to run anyways.

export DATABASE_URL=postgres://converse:converse@localhost/converse
export RUST_LOG=info
export OIDC_DISCOVERY_URL=https://does.not.matter.com/
export OIDC_CLIENT_ID=some-client-id
export OIDC_CLIENT_SECRET='some-client-secret'
export BASE_URL=http://localhost:4567
export REQUIRE_LOGIN=false
