* :not(.material-icons) {
  font-family: 'Ubuntu', sans-serif;
}

code, pre, code * {
    font-family: 'Ubuntu Mono', monospace !important;
}

.cvs-title, .thread-link {
    text-decoration: none;
}

.thread-list-item:hover {
    background-color: #f5f5f5;
}

.thread-link {
    padding: 5px;
    padding-top: 10px;
}

.thread-title {
    padding-right: 15vw;
}

.search-field {
    margin-right: 15px;
    max-width: 200px;
}

.thread-author {
    font-style: italic;
    font-size: 85%;
}

@media only screen and (min-width: 768px) {
    .converse main {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.mdl-list__item-text-body {
    max-height: 40px;
}

.thread-divider:after {
    border-bottom: 1px solid rgba(0,0,0,.13);
    content:"";
    position: absolute;
    width: 80%;
}

html, body {
  margin: 0;
  padding: 0;
}
.converse .mdl-layout__header-row {
  padding-left: 40px;
}
.converse .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
  font-size: inherit;
}
.converse .mdl-card {
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.converse .mdl-card > * {
  height: auto;
}
.converse .mdl-card .mdl-card__supporting-text {
  margin: 40px;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px);
}
.mdl-demo.converse .mdl-card__supporting-text h4 {
  margin-top: 0;
  margin-bottom: 20px;
}
.converse .mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit;
}
.converse section.section--center {
  max-width: 860px;
}
.converse .mdl-card .avatar-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}
.desktop-avatar {
    width: 80px;
    margin-right: auto;
    margin-left: auto;
}
.mobile-avatar {
    width: 30px;
    border-radius: 8px;
    margin-bottom: 5px;
}
.mobile-date {
    text-decoration: none;
}
.converse .mdl-card .post-box {
    margin: 20px;
}
.converse .mdl-card .post-actions {
    display: flex;
    padding-right: 5px;
}
.post-action {
    margin: 5px;
    margin-bottom: 10px;
}
.converse section.post-section {
    padding: 5px;
}
.post-date {
    text-decoration: none;
    font-size: 80%;
}
.mdl-layout__content {
    flex: 1 0 auto;
}
.converse .reply-box {
    padding-top: 10px;
}
.search-result {
    margin: 8px;
}
.search-result .mdl-button {
    margin: 3px;
}
